body {
    font: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(208, 131, 211);
}

button {
    font-size: 12pt;
    padding: 30px;
}

h1 {
    margin: 5px 0 0 5px;
}

a {
    text-decoration: none;
    margin: 0 2.5rem 0 2.5rem;
    font-weight: 800;
    display: flex;
    font-size: large;
    color: rgb(6, 6, 7);
    font-size: xx-large;
}